@mixin SubscribedPlaylists {
  .subbed-items-root {

    .subscribed-playlist-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .tracks-title-label {
        font-size: 1.1em;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 10px 15px;
        display: inline-block;
        color: white;
        font-weight: bold;
  
      }
  
      .sync-all-button {
        background-color: rgba(0, 0, 0, 0.08);
        border: none;
        border-radius: 10px;
        color: white;
        padding: 0 20px;
        font-weight: bold;
        height: fit-content;
        align-self: flex-end;
      }
    }


    .empty-playlists-message{
      color: #c4c4c4;
      text-align: center;
    }

    .subbed-item-container {
      display: flex;
      background: #535353;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
      border-radius: 10px;

      .subbed-item-image {
        height: 74px;
        width: 74px;
        border-radius: 10px;
      }

      .subbed-item-content {
        font-weight: bold;
        flex-grow: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
      }

      .subbed-name-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;

        .item-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 10px;
          color: white;
        }
        
        .button-container {
          white-space: nowrap;
        }

        button { 
          height: 30px;
          width: 30px;
          background: rgba(0, 0, 0, 0.08);
          border-radius: 5px;
          border: none;
          color: white;
          transition: background 0.5s ease;
        }

        button:hover { 
          background: rgba(0, 0, 0, 0.18);
          transition: background 0.5s ease;
        }

        #infoButton {
          margin-right: 10px;
        }
      }
    }

    .subbed-item-container:hover {
      transition: border 0.1s ease;
      border: 2px solid rgba(220, 220, 220, 0.44);
    }

    .subbed-item-container--selected {
      transition: border 0.1s ease;
      border: 2px solid rgba(220, 220, 220, 0.44);
    }
  }
}